# Ignore the data folder and all its subdirectories and files
data/

# Ignore the dataset folder and all its subdirectories and files
dataset/

#ignore the venv folder and all its subdirectories and files
.venv/
models/
.DS_Store
*.pyc

